body{
    margin:0px;
    padding:0px;
    user-select: none;
    height:100vh;
}
*{
    font-size: 15px;
    font-family: sans-serif;
    outline:none;
}
#menu_slot{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    gap:50px;

    align-items:center;
    justify-content: center;
}
#gameboard #main{
    width:fit-content;
    margin: auto;
}
#gameboard .menu_item{
    width:60%;
    text-align:center;
}
#gameboard .label{
    letter-spacing: 1px;
    font-size:18px;
}
#name1, #name2, #level{
    height:84px;
}
#gameboard .textbox{
    line-height:40px;
    height:40px;
    padding:0px 8px;
    background-color: rgba(255,255,255,0.3);
    border:2px solid transparent;
    border-radius:100px;
    overflow: hidden;
    transition: border 0.3s;
}
#gameboard .textbox br{
    display: none;
}
#gameboard .textbox:focus{
    border-color: white;
}
/*-----*/
#gameboard #two_player{
    margin-top: 20px;
}
#gameboard #two_player label{
    display: flex;
    flex-direction: row;
}
#gameboard #two_player #label_2p{
    flex-grow: 1;
    text-align: left;
    font-size: 18px;
    line-height: 22px;
}
#gameboard #two_player #two_player_mode{
    -webkit-appearance: none;
    -moz-appearance: none;

    position: relative;
    margin:0;
    width:35px;
    height:20px;
    border: 1px solid white;
    border-radius: 100px;
}
#gameboard #two_player #two_player_mode::after{
    content: '';
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    top:2px;
    left:2px;
    width: 14px;
    height:14px;
    z-index:1;

    border-radius: 100px;
    transition: left 0.2s, background 0.2s;
}

#gameboard #two_player #two_player_mode:checked::after{
    left:17px;
    background-color: white;
}
/*-----------*/
#gameboard #mode_box{
    display: flex;
    flex-flow: row;
    border:1px solid white;
    /* background-color: rgba(255,255,255,0.3); */
    border-radius: 100px;
    overflow: hidden;
    padding:5px;
}

#gameboard #level .label_text{
    flex-grow:1;
}
#gameboard #level .mode_text{
    line-height:32px;
    border-radius: 100px;
    transition:background 0.2s;
}
#gameboard #level .game_level{
    -webkit-appearance: none;
    -moz-appearance: none;
    display: none;
}
#gameboard #level .game_level:checked + .mode_text{
    background-color: rgba(255,255,255,0.3);
}


/*===================================*/
/*--------------------
Section
*/

/*************************************/
#gameboard #upper{
    display: flex;
    width:252px;
    margin-bottom: 30px;
}
#gameboard #upper .player{
    display: flex;
    flex-direction: column;
    text-align:center;
    flex-basis: 0;
    flex-grow:1;

    background-color: #dadada;
    border:4px solid transparent;
    border-radius:8px;
    overflow:hidden;
    transition: background 0.3s, color 0.3s;
}
#gameboard #upper .name{
    height:18px;
    background-color: #f9f9f9;
    padding:3px 2px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background 0.3s, color 0.3s;
}
#gameboard #upper .board{
    display: flex;
    overflow:hidden;
}
#gameboard #upper .sign{
    flex-basis:0px;
    flex-grow: 1;
    padding:3px 0;
    transition: background 0.3s, color 0.3s;
}
#gameboard #upper .score{
    flex-basis:0px;
    flex-grow: 1;
    padding:3px 0;
    background-color: #f2f2f2;
    border-radius:0 0 5px 5px;
    transition: background 0.3s, color 0.3s, transform 0.2s;
}

/*****/

@keyframes score_change{
    from{
        transform:translateY(0%);
        opacity:1;
    }
    50%{
        transform:translateY(-90%);
        opacity:0;
    }
    to{
        transform:translateY(0%);
        opacity:1;
    }
}

gameboard #upper .score.change{
    animation-name:score_change;
    animation-duration:0.5s;
    animation-timing-function: ease-in-out;
}


/*-------------*/
#gameboard #upper #alter{
    align-self:flex-end;
    margin:0 8px;
    width:30px;
    height:30px;
    border-radius:100%;

    background-image: url("images/alter.svg");
    background-position: center center;
    background-size: 60% auto;
    background-repeat: no-repeat;
    
    transition:background-color 0.3s;
}
#gameboard #upper #alter:hover{
    background-color:rgb(233, 233, 233);
}



/******/
#gameboard>div{
    /* background:pink; */
}
/*--------------*/

#gameboard #upper #player1 .name{
    border-radius:5px 5px 5px 0;
}
#gameboard #upper #player2 .name{
    border-radius:5px 5px 0 5px;
}

/*---*/
#gameboard #upper .player.active{
    background-color:#0087a5;
    box-shadow:rgb(0,0,0) 2px 2px 5px;
    background-image: linear-gradient(180deg,#00d8a2,#00a2c7 80%);
    background-origin: border-box;
}
#gameboard #upper .player.active .name{
    /* background-color: #e9fbff; */
    background-color: #e9fbff;
}
#gameboard #upper .player.active .score{
    /* background-color: rgb(0, 182, 223); */
    background-color:rgba(0, 63, 99, 0.45);
    color:white;
}
#gameboard #upper .player.active .sign{
    color:white;
}


/*-----------*/
@keyframes sign_ani_1_x{
    from{
        transform:translateX(0px);
        opacity:1;
    }
    50%{
        transform:translateX(20px);
        opacity:0;
    }
    to{
        transform:translateX(0px);
        opacity:1;
    }
}
@keyframes sign_ani_1_o{
    from{
        transform:translateX(0px);
        opacity:1;
    }
    50%{
        transform:translateX(20px);
        opacity:0;
    }
    to{
        transform:translateX(0px);
        opacity:1;
    }
}

@keyframes sign_ani_2_x{
    from{
        transform:translateX(0px);
        opacity:1;
    }
    50%{
        transform:translateX(-20px);
        opacity:0;
    }
    to{
        transform:translateX(0px);
        opacity:1;
    }
}
@keyframes sign_ani_2_o{
    from{
        transform:translateX(0px);
        opacity:1;
    }
    50%{
        transform:translateX(-20px);
        opacity:0;
    }
    to{
        transform:translateX(0px);
        opacity:1;
    }
}

#gameboard #upper #player1 .sign.turn_x{
    animation-name:sign_ani_1_x;
    animation-duration:0.3s;
}
#gameboard #upper #player1 .sign.turn_o{
    animation-name:sign_ani_1_o;
    animation-duration:0.3s;
}
#gameboard #upper #player2 .sign.turn_x{
    animation-name:sign_ani_2_x;
    animation-duration:0.3s;
}
#gameboard #upper #player2 .sign.turn_o{
    animation-name:sign_ani_2_o;
    animation-duration:0.3s;
}
/********************************************/
/*--------------------------*/
#gameboard #middle{
    position:relative;
}
#gameboard #table{
    /* position:relative; */
    /*transform:scale(0); */
    transition:transform 0.3s;
    border-collapse: collapse;
}

#gameboard td{
    border:none;
    width:80px;
    height:80px;
    
}
#gameboard .innerCell{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    position:relative;
}
.signCircle{
    background-color: transparent;
    border:6px solid rgb(185, 0, 87);
    width: 40%;
    height: 40%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: transform 0.3s;
    position: absolute;
}
.innerCell.activeC .signCircle{
    transform: scale(1);
}
.signCrossDiag1{
    background-color: rgb(0, 92, 77);
    width: 60%;
    height: 6px;
    border-radius: 3px;
    position: absolute;
    transform:rotate(45deg) scale(0);
    transition: transform 0.3s;
    
}
.innerCell.activeD .signCrossDiag1{
    transform:rotate(45deg) scale(1);
}

.signCrossDiag2{
    background-color: rgb(0, 92, 77);
    width: 60%;
    height: 6px;
    border-radius: 3px;
    position: absolute;
    transform: rotate(-45deg) scale(0);
    transition: transform 0.3s;
    
}
.innerCell.activeD .signCrossDiag2{
    transform:rotate(-45deg) scale(1);
}


#c0_0,#c0_1,#c1_0,#c1_1,#c2_0,#c2_1{
    /* border-right:3px solid black; */
}
#c0_0,#c0_1,#c0_2,#c1_0,#c1_1,#c1_2{
    /* border-bottom:3px solid black; */
} 
#c0_2,#c1_2,#c2_2{
    
}
#marker{
    width:100%;
    height:6px;
    background-color:black;
    position:absolute;
    display: none;

    border-radius:20px;
    transform-origin: left;
    transform:scale(0,1);
    transition: transform 0.5s;
}
/* #marker.active{
    transform:scale(1,1);
} */


/* lines --------------------*/

#gameboard #middle .line_stroke{
    position: absolute;
    background-color: black;
    border-radius:10px;
}

#gameboard #middle #mV0{
    left:calc(100% / 3 - 2px);
    top:0;
    width:4px;
    height: 100%;
}

#gameboard #middle #mV1{
    left:calc(100% * 2 / 3 - 2px);
    top:0;
    width:4px;
    height: 100%;
}

#gameboard #middle #mH0{
    left:0;
    top:calc(100% / 3 - 2px);
    width:100%;
    height: 4px;
}

#gameboard #middle #mH1{
    left:0;
    top:calc(100% * 2 / 3 - 2px);
    width:100%;
    height: 4px;
}
/*------*/

/*-------------------------------------*/
#gameboard #middle #lower{
    position: absolute;
    display:flex;
    left:10%;
    top:40%;
    width:80%;
    min-height:20%;
    align-items:center;
    justify-content: center;

    padding:5px;
    text-align: center;
    font-size:20px;    
    border-radius:10px;
    color:white;

    background-color: rgb(223, 0, 93);
    background-image: linear-gradient(45deg,rgb(223, 0, 93),rgb(255, 196, 0));
    box-shadow:rgba(0,0,0,0.6) 10px 9px 7px 2px;
    
    transform-origin: center center;
    transform:scale(0,0);

    transition: transform 0.3s;
}
#gameboard #middle #lower.active{
    transform: scale(1,1);
    transition: transform 0.3s 0.5s;
}
/*--------------------*/
#lower_fixed{
    margin-top:30px;
    display: flex;
    justify-content: center;
}
#lower_fixed div{
    width:70px;
    padding:3px 10px;
    margin:5px 0;
    border:2px solid #009c94;
    border-radius:50px ;
    color:#007973;
    text-align: center;
    transition: background 0.3s, border 0.3s, color 0.3s, box-shadow 0.3s;
}
#lower_fixed div:hover{
    background-color: #009c94;
    background-origin: border-box;
    background-image: linear-gradient(-30deg,#028a83,#00c0b6);
    border-color: transparent;
    color:white;
    box-shadow:#000000 1px 1px 2px;
}
#lower_fixed a{
    text-decoration: none;
}




